---
import { Icon } from "astro-icon";
interface Props {
  title: string;
  body: string;
  href: string;
  icon: string;
}

const { href, title, body, icon } = Astro.props;
---

<li class="flex">
  <a
    href={href}
    class="w-full p-8 bg-stone-700 rounded-lg shadow-lg border border-stone-700 hover:border-stone-400 duration-200"
  >
    <Icon name={icon} width="50" height="50" class="mb-5" />
    <h2 class="text-white text-xl font-bold">
      {title}
      <span>&rarr;</span>
    </h2>
    <p class="mt-3">
      {body}
    </p>
  </a>
</li>
